<footer>
  <p>The Orion Ensembles is supported in part by grants from the John R. Halligan Charitable Fund, the Illinois Arts Council, the Arts Tour Fund of the Illinois Arts Council and generous donations from our dedicated patrons.</p>
</footer>