<!doctype html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles/site.css">
  {% if pageScripts %}
    {% for pageScript in pageScripts %}
      <script type="module" src="{{ pageScript }}"></script>
    {% endfor %}
  {% endif %}
</head>
<body>
  {% include "header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>